html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

section.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6.375rem 5.625rem;
    background: linear-gradient(rgba(255, 255, 255, 0.34), rgba(230, 230, 230, 0.463)), url('src/asset/bg.png') center/cover repeat;
    animation: animate 10s linear infinite;
    height: 100vh;
}
@keyframes animate {
    0% {
        background-position: center 0;
    }
    90% {
        background-position: center 500%;
    }
    100% {
        background-position: center 0;
    }
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100;
    padding: 2.0625rem 2.4375rem;
    border-radius: 0.5rem;
    background: #FFF;
    gap: 1.8rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.6875rem 0;
}

.hero-text h1 {
    color: black;
    font-family: 'Bebas Neue', system-ui;
    font-size: 4.75rem;
}

.hero-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3.125rem 2.5625rem;
    border-radius: 0.35rem;
    background: #000;
    gap: 10px;
}

.hero-cta span {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 3.25rem;
    font-weight: 900;
    letter-spacing: -0.065rem;
}

.hero-cta .cta-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    gap: 26px;
    font-size: 18px;
}

.hero-cta .cta-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 2.75rem;
    border-radius: 2.25rem;
    text-align: center;
}

.hero-cta .cta-buttons a:first-child {
    color: #000;
    background: #fff;
}

.hero-cta .cta-buttons a:first-child:hover {
    background: rgba(10, 239, 255, 0.75);
    color: white;
}

.hero-cta .cta-buttons a:last-child {
    background: #212121;
}

.team-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    background-color: white;
}

.lineup-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 4.75rem;
}

.lineup-title {
    font-family: 'Bebas Neue', system-ui;
    font-size: 4.75rem;
    color: white;
}

.lineup-svg {
    position: absolute;
    bottom: -190px;
}

.team-member {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
    width: 100%;
    padding: 16px 20px;
    margin-bottom: 50px;
}

.card-img {
    max-width: 190px;
    transition: transform 0.8s ease, border-color 0.3s ease;
}

.card-inner {
    position: relative;
    transition: transform 0.8s ease, border-color 0.3s ease;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: -10%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 3xl;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.card-inner:hover .card-overlay {
    opacity: 1;
}

.half-circle {
    width: 120%;
    height: 80px;
    border-radius: 50% 50% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -50px;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
}

.half-circle-text {
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

.team-sec {
    position: relative; /* Make sure the card is relative to the half-circle */
    overflow: hidden; 
}

.team-sec:hover .half-circle {
    bottom: 0px; /* Bring the half-circle up on hover */
    opacity: 1;  /* Make it visible */
}


@media (max-width: 1024px) {
    section.hero {
        padding: 2rem 1rem; /* Reduced padding for smaller screens */
        height: auto; /* Allow the height to adjust automatically */
        text-align: center; /* Center text for better readability */
    }
    .lineup-svg {
        display: none;
    }
    .hero-content {
        padding: 20px 20px;
        flex-direction: column; /* Stack content vertically */
        gap: 1rem; /* Add spacing between content */
    }

    .hero-text h1 {
        font-size: 2.5rem; /* Smaller font size for mobile */
    }

    .hero-cta span {
        font-size: 1.5rem; /* Smaller font size */
    }

    .hero-cta .cta-buttons {
        flex-direction: row; /* Stack buttons vertically */
        gap: 10px; /* Add gap between buttons */
    }

    .hero-cta .cta-buttons a {
        width: 100%; /* Full width buttons */
        text-align: center; /* Center text in buttons */
        text-wrap: nowrap;
        padding: 10px 18px;
    }

    .team-section {
        visibility: hidden;
    }

    .lineup-section {
        padding: 2rem 1rem; /* Reduced padding */
    }

    .lineup-title {
        font-size: 2.5rem; /* Smaller font size */
    }

    .team-sec {
        flex-direction: row-reverse; /* Stack cards vertically */ /* Add spacing between cards */
    }

    .team-content {
        width: 60%;
    }

    .team-member {
        flex-direction: column; /* Stack cards vertically */
        margin-bottom: 1rem; /* Add spacing between cards */
    }

    .card-img {
        max-width: 143px;
    }
}

@media (max-width: 430px) {
    section.hero {
        padding: 2rem 1rem; /* Reduced padding for smaller screens */
        height: auto; /* Allow the height to adjust automatically */
        text-align: center; /* Center text for better readability */
    }
    .lineup-svg {
        display: none;
    }
    .hero-content {
        padding: 20px 20px;
        flex-direction: column; /* Stack content vertically */
        gap: 1rem; /* Add spacing between content */
    }

    .hero-text h1 {
        font-size: 2.5rem; /* Smaller font size for mobile */
    }

    .hero-cta span {
        font-size: 1.5rem; /* Smaller font size */
    }

    .hero-cta .cta-buttons {
        flex-direction: row; /* Stack buttons vertically */
        gap: 10px; /* Add gap between buttons */
    }

    .hero-cta .cta-buttons a {
        width: 100%; /* Full width buttons */
        text-align: center; /* Center text in buttons */
        text-wrap: nowrap;
        padding: 10px 18px;
    }

    .team-section {
        visibility: hidden;
    }

    .lineup-section {
        padding: 2rem 1rem; /* Reduced padding */
    }

    .lineup-title {
        font-size: 2.5rem; /* Smaller font size */
    }

    .team-member {
        width:80%;
        gap: 5rem;
        flex-direction: column; /* Stack cards vertically */
        margin-bottom: 1rem; /* Add spacing between cards */
    }

    .team-sec {
        flex-direction: column; /* Stack cards vertically */ /* Add spacing between cards */
    }

    .team-content {
        width: 100%;
    }
    .card-img {
        margin-top: 30px;
        max-width: 160px; /* Ensure images fit within container */
    }
    .half-circle {
        opacity: 1;
        position: absolute;
        bottom: 0px;
    }
}
